/* @media screen and (max-width:710px){
    body{
        width:119%;
    }
}
@media screen and (max-width:590px){
    body{
        width:124%;
    }
}
@media screen and (max-width:565px){
    body{
        width:128%;
    }
}
@media screen and (max-width:550px){
    body{
        width:128%;
    }
} */

@media screen and (max-width:1322px) {
    #sm-banner {
        gap:20px;
    }
    #sm-banner .banner-box {

        min-width: 100%;
        
    }
    #banner3 .banner-box {
        
        width: 30%;
        
    }
}

@media screen and (max-width:1000px) {
    #sm-banner .banner-box {

        min-width: 100%;
        
    }
    #banner3 .banner-box {
        width: 28%;
    }
}
@media screen and (max-width:800px) {
    .section-p1 {
        padding: 40px 40px;
    }
    
    #hero {
        background-image: url("img/bgg1.jpg");
        height: 70vh;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        padding: 80px 0 0 10px;
        transition: 0.3s ease;
    }

    #navbar #ham-close {
        display: flex;
        position: absolute;
        top: 25px;
        left: 25px;
    }
    #navbar #lg-bag{
        display:none;
      }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #feature {
         
        justify-content: center;
         
    }
    #feature .fe-box {
       
        margin: 15px 15px;
        
      }
      #product1 .pro-container{      
        justify-content: center;       
      }
      #product1 .pro {
        margin:15px ;
      }
      #banner{
        height:20vh;
      }
      #sm-banner{
        gap:20px;
      
      }
      #sm-banner .banner-box{
        min-width:100%;       
        height:30vh;
      
      }
      #banner3 {
        
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;

    }
    #footbanner {
        height: 30vh;
       
    }
 
}





@media screen and (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;      
    }
    
    #hero {    
        height: 70vh;
        padding:0 20px;
    }
    h2 {
        font-size: 32px;
       
    }
    h1 {
        font-size: 35px;
        
    }
    #feature {
       justify-content: space-between;
        }
    #feature .fe-box {
        width: 155px;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.238);
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
       
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box {
       
        height: 40vh;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #footbanner {
        text-align: center;
    }
    #footbanner h3 {
        padding:0 10px;
    }
    footer .copyright {
        width: 100%;
        text-align: start;
    }
}